@import '../../themes/color.less';
.app-bar {
  display: 'flex';
  border: '0';
  border-radius: '3px';
  padding: '0.625rem 0';
  margin-bottom: '20px';
  color: '#555';
  width: '100%';
  background-color: '#fff';
  box-shadow: '0 4px 18px 0px rgba(0; 0; 0; 0.12); 0 7px 10px -5px rgba(0; 0; 0; 0.15)';
  transition: 'all 150ms ease 0s';
  align-items: 'center';
  flex-flow: 'row nowrap';
  justify-content: 'flex-start';
  position: 'relative';
  z-index: 'unset'
}

.container {
  min-height: '50px';
  flex: '1';
  align-items: 'center';
  justify-content: 'space-between';
  display: 'flex';
  flex-wrap: 'nowrap'
}

.drawer-paper {
  border: "none";
  bottom: "0";
  transition-property: "top; bottom; width";
  transition-duration: ".2s, .2s, .35s";
  transition-timing-function: "linear, linear, ease";
  width: 260;
  box-shadow: "0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)";
  position: "fixed";
  display: "block";
  top: "0";
  height: "100vh";
  max-height: "1200px";
  right: "0";
  left: "auto";
  visibility: "visible";
  overflow-y: "visible";
  border-top: "none";
  text-align: "left";
  padding-right: "0px";
  padding-left: "0";
  transition: "all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1)";
}

.title {
  color: @white  !important;
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  font-weight: 500;
}

.flex {
  flex: 1;
}

.app-responsive {
  margin: "20px 10px";
}

.header-content {
  background-color: @white;
  padding: 0 15px;
}

.search {
  color: @white;
  height: 37px;
}

.login {
  border: 1px solid;
}

.button {
  color: @white  !important;
  margin: 80px;
}

a {
  text-decoration: none !important;
}

.header {
  background-color: @darkPrimaryColor;
  height: 45px;
  width: auto;
  min-height: 45px !important;
}