/*
 * {{properCase name }} Messages
 *
 * This contains all the text for the {{properCase name }} component.
 */

import { defineMessages } from 'react-intl'

export default defineMessages({
  header: {
    id: 'app.containers.{{properCase name }}.header',
    defaultMessage: 'This is {{properCase name}} container !',
  },
})
