// https://www.materialpalette.com/light-blue/blue
@darkPrimaryColor: #0288D1;
@lightPrimaryColor: #B3E5FC;
@primaryColor: #03A9F4;
@white: #FFFFFF;
@accentColor: #448AFF;
@primaryText: #212121;
@secondaryText: #757575;
@dividerColor: #BDBDBD;