/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react'
// import PropTypes from 'prop-types'
// import styled from 'styled-components'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

function {{ properCase name }}() {
  return (
    <div>
    {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
    {{/if}}
    </div>
  )
}

{{ properCase name }}.propTypes = {}

export default {{ properCase name }}
