@import '../../themes/color.less';
.list {
  font-family: '"Roboto"; "Helvetica"; "Arial"; sans-serif';
  font-weight: "300";
  line-height: "1.5em";
  font-size: "14px";
  margin: 0;
  padding-left: "0";
  list-style: "none";
  padding-top: "0";
  padding-bottom: "0";
  color: "inherit"
}

.margin-latest {
  margin-top: 21px;
  margin-bottom: 10.5px;
}

.margin-mini {
  margin: 8px 0;
}