@import '../../themes/color.less';
.admin {
  margin-top: 61px !important;
  @media (max-width: 992px) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @media (min-width: 992px) {
    margin-left: 252px;
    padding-left: 0px;
    padding-right: 12px;
  }
}

.web {
  margin-top: 61px !important;
  @media (max-width: 992px) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @media (min-width: 992px) {
    padding-left: 320px;
    padding-right: 320px;
  }
}

.paper {
  color: @secondaryText;
}

.card {
  margin: 20px;
}

.container-card {
  padding: 20px !important;
}
